<h2 mat-dialog-title>Add a New User</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Enter your name" formControlName="name" required>
      <mat-error *ngIf="(addFormControls['name'].touched || submitted) && addFormControls['name'].invalid">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="addFormControls['email'].invalid">
        <span *ngIf="(addFormControls['email'].touched || submitted) && addFormControls['email'].hasError('required')">Email is required</span>
        <span *ngIf="addFormControls['email'].hasError('email')">Not a valid email</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your phone number</mat-label><ngx-mat-intl-tel-input
        [preferredCountries]="['us', 'gb']"
        [enablePlaceholder]="true"
        [enableSearch]="true"
        format="international"
        name="phone"
        formControlName="phone"
        #phone>
      </ngx-mat-intl-tel-input>
      <mat-error *ngIf="(addFormControls['phone'].touched || submitted) && addFormControls['phone']?.errors?.required">Phone number is required</mat-error>
      <mat-error *ngIf="addFormControls['phone']?.errors?.validatePhoneNumber">Invalid Number</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button type="submit" mat-button cdkFocusInitial (click)="onSubmit()">Submit</button>
</mat-dialog-actions>